.create-account{
    color: #007ec1;
    margin-right: 50%;
    padding-left: 4pt;
}
.lgn-btn{
    background-color: #007ec1;
    width: 75%;
    height: 25pt;
    margin-top: 10pt;
    color:white;
    padding: 5pt;
    border:none;
    border-radius:2pt;
    text-align: center;
    float: left;
}
.fgt-pswrd{
    color:#007ec1;
    width: 100%;
    display: flex;
    font-size: 10pt;
    padding-top: 10pt;
    font-weight: bold;
}
.contact{
    color: #007ec1;
    padding-left: 4pt;
}
.trouble-msg{
    color:grey;
    font-size:9pt;
    display:flex;
    padding-top: 10pt;
    font-weight: bold;
}
.login{
    height: auto;
    width: 30%;
    margin-top: 5%;
    padding: 15pt;
    float: left;
    margin-left: 70pt;
}
.login-label{
    font-size: 15pt;
    text-align: left;
    width: 100%;
}
.new-client,.create-account{
    float: left;
    font-size: 9pt;
    padding-bottom: 10pt;
    
}
.input-field{
    display: flex;
    flex-direction: row;
    height: 15pt;
    width: 70%;
    padding: 5pt;
    border-radius: 2pt;
    border-width: 1pt;

}
.container,.main-container{
    display: flex;
}
.main-container{
    flex-direction: column;
}
.label{
    visibility: hidden;
    float: left;
    font-size: 9pt;
    color: gray;
    padding-bottom: 4pt;
    width: 100%;
    display: flex;
}